<div>
  <app-page-header [totalGamesCount]="totalGamesCount" [filteredGamesCount]="filteredGamesCount"></app-page-header>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSearch(checkoutForm.value.search)">
    <!--    <div>-->
    <label for="search">
    </label>
    <input id="search" type="text" placeholder="Game search" formControlName="search">
    <button class="button" type="submit">Search</button>
    <!--    </div>-->
  </form>

  <app-merchant-select [merchants]="merchants" (changeMerchants)="changeMerchants($event)"></app-merchant-select>
  <app-category-select [categories]="categories" (changeCategories)="changeCategories($event)"></app-category-select>

  <select [(ngModel)]="limit" (ngModelChange)="onLimitChange($event)">
    <option *ngFor="let value of limitValues" [value]="value">{{value}}</option>
  </select>
</div>

<app-games-list [slicedGames]="slicedGames"></app-games-list>

<button (click)="previousGames()" *ngIf="(offset-limit) >= 0">
  Назад
</button>

<button (click)="nextGames()" *ngIf="(offset+limit) <= sortedGames.length">
  Далее
</button>
