<div>
  <h2>Games list</h2>

  <form [formGroup]="checkoutForm" (ngSubmit)="onSearch(checkoutForm.value.search)">
    <div>
      <label for="search">
      </label>
      <input id="search" type="text" placeholder="Game search" formControlName="search">
    </div>
  </form>

<!--  <select multiple name="countries" [formControl]="countryControl">-->
<!--    <option *ngFor="let merchant of merchants" [ngValue]="merchant">-->
<!--      {{ merchant.Name }}-->
<!--    </option>-->
<!--  </select>-->
  <app-merchant-select [merchants]="merchants" (changeMerchants)="changeMerchants($event)"></app-merchant-select>

  <select [(ngModel)]="limit" (ngModelChange)="onLimitChange($event)">
    <option *ngFor="let value of limitValues" [value]="value">{{value}}</option>
  </select>
</div>

<app-games-list [slicedGames]="slicedGames"></app-games-list>
<!--[offset]="offset" [limit]="limit" [size]="size"-->

<button (click)="previousGames()" *ngIf="(offset-limit) >= 0">
  Назад
</button>

<button (click)="nextGames()">
  Далее
</button>


<!--<mat-grid-list cols="5" rowHeight="50" class="pagination">-->
<!--  &lt;!&ndash;  2:1&ndash;&gt;-->
<!--  <mat-grid-tile *ngFor="let page of pages | async" [class.active]="page == currentPage">-->
<!--    <a href="javascript:void(0)" (click)="selectPage(page)">-->
<!--      {{page}}-->
<!--    </a>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
