.active img
  filter: brightness(50%)

.inactive img
  filter: brightness(100%)

.hidden
  display: none

.shown
  display: block

img
  position: relative

mat-card-title
  position: absolute
  top: 20%
  right: 40%
  color: white
  font-size: 34px

mat-card-content
  position: absolute
  top: 60%
  right: 30%
  color: white
  font-size: 34px

