<mat-card [ngClass]="{active: isActive(), inactive: !isActive()}"
          (mouseenter)="setActive(true)"
          (mouseleave)="setActive(false)">

  <img mat-card-image
       src="{{game.ImageFullPath}}"
       alt="{{game.Name.en}}"
       width="300" height="300">

  <mat-card-title *ngIf="isActive()">
    {{game.Name.en}}
  </mat-card-title>

  <mat-card-content *ngIf="isActive()">
    <button (click)="play()">Play</button>
    <button (click)="addToFavorites()" *ngIf="!isFavorite()">Add to favorites</button>
    <button (click)="deleteFromFavorites()" *ngIf="isFavorite()">Delete from favorites</button>
  </mat-card-content>

</mat-card>
